@import "../../styles/lib.scss";

.Order {
    background: $grey-light;
    box-shadow: $box-shadow;
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;
    display: grid;
    grid-template-columns: auto 1fr auto auto;

    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: $padding-horizontal;
        cursor: pointer;
        border-right: 1px solid $grey;
        position: relative;

        &__emoji {
            padding-right: $padding-horizontal;
        }

        &:hover {
            .Order__clear {
                opacity: 0.5;
            }
        }
    }

    &__clear {
        font-size: 0.7em;
        position: absolute;
        white-space: nowrap;
        bottom: 10px;
        opacity: 0;
    }

    &Done__emoji {
        animation: fadeUp 1s;
        animation-delay: 0.3s;
        opacity: 0;
        animation-fill-mode: forwards;

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}