@import "../../styles/lib.scss";

.IngredientOption {
    //border: 1px solid red;
    display: inline-flex;
    align-items: center;
    padding: 0.3em 1.5em;
    border-radius: 2em;
    box-shadow: none;
    font-weight: 500;
    margin: 0 1.25em;
    margin-bottom: 0.7em;
    transition: all 100ms ease-out;
    text-transform: capitalize;

    &:hover {
        box-shadow: $box-shadow;
        cursor: pointer;
        transition: all 100ms ease-out;
    }

    &:active,
    &--clicked {
        background: $blue;
        color: white;
        transition: all 100ms ease-out;
        box-shadow: none;
    }

    &__emoji {
        margin-right: 0.25em;
        padding-top: 2px;
    }
}