@import "../../styles/lib.scss";

.OrderItem {
    display: flex;
    align-items: center;
    font-size: 0.85em;
    margin-right: 0.25em;
    border-radius: 30px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 5px;
    position: relative;
    text-transform: capitalize;
    border: 1px solid transparent;

    &:hover {
        background: rgba($black, 0.1);
        cursor: pointer;
        border-color: rgba($black, 0.07);
    }

    &--current {
        background: rgba($black, 0.07);
        border-color: rgba($black, 0.02);
    }

    &__emoji {
        margin-top: 1px;
        margin-right: 5px;
    }

    &__name {
        padding-right: 1.25em;
    }
}