@import "../../styles/lib.scss";

.SelectIngredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    &__wrapper {
        width: 100%;
        max-width: 1000px;
        padding: $padding-horizontal;
        display: grid;
        grid-template-columns: 3em 1fr 3em;
        align-items: center;

        > * {
            animation: fadeLeft 1s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
    }

    &__choices {
        animation-delay: 150ms;
    }

    &__actions {
        animation-delay: 300ms;
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__button--next {
        width: 10em;
        text-align: center;
        display: block;
    }
}