@import "../../styles/lib.scss";

.Intro {
    width: 100%;
    max-width: 480px;
    padding: $padding-horizontal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation: fadeLeft 1s;
    opacity: 0;
    animation-fill-mode: forwards;

    &__greeting {
        margin-bottom: 0;
    }

    &__phrase {
        font-weight: 600;
        line-height: 1.4;

        span {
            color: $red;
        }
    }

    &__actions {
        margin-top: 2em;
        animation: fadeIn 1s;
        animation-delay: 5.5s;
        //animation-delay: 0s;
        opacity: 0;
        animation-fill-mode: forwards;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .emoji {
        margin-bottom: 1em;
    }
}